.sr-text {
  .sr-text-container {
    font-family: inherit;
    white-space: pre-line;
  }
  &.title {
    font-weight: bold;
    font-family: aeromatics;
    font-style: italic;
    font-size: pxToRem(28) !important;

    @media (min-width: $breakpoint-sm) {
      font-size: pxToRem(32) !important;
    }
  }
  &.subtitle {
    font-family: aeromatics;
    font-size: pxToRem(20) !important;
    font-style: italic;
    font-weight: bold;
    @media (min-width: $breakpoint-sm) {
      font-size: pxToRem(24) !important;
    }
  }
  &:not(.title):not(.subtitle) {
    font-size: pxToRem(14);
    line-height: pxToRem(24);

    @media (min-width: $breakpoint-sm) {
      font-size: pxToRem(16);
      line-height: pxToRem(28);
    }
  }

  &.text {
    &-center {
      --text-align: center !important;
    }
    &-right {
      --text-align: right !important;
    }
  }
}
